/* 
********
RESET
********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
********
TYPOGRAPHY
********
*/

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, 
h2,
h3 {
    text-transform: uppercase;
}

h2 {
    text-align: start;
}

.output .output-name-box #output-name {
    font-size: 1.2rem;
}

.output .output-ticket-box p {
    font-size: 1rem;
}

/* 
********
COMMON
********
*/

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

body {
    background-color: rgb(236, 236, 236);
    padding: 60px 0;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.center-box {
    background-color: #C41228;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

h1 {
    padding-bottom: 30px;
}

h2 {
    padding-bottom: 15px;
}

/* 
********
INPUT
********
*/

.input-box {
    gap: 50px;
    padding-bottom: 40px;
}

.input-box p {
    padding-bottom: 10px;
}

.input-box input,
.input-box select {
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.button-box {
    gap: 30px;
}

.btn {
    background-color: lightgrey;
    border-radius: 4px;
    padding: 8px;
    color: #C41228;
    font-weight: 700;
    font-size: 1.2rem;
}

/* 
********
OUTPUT
********
*/

.output {
    color: black;
}

.output .output-name-box, 
.output .output-ticket-box {
    padding: 20px;
}

.output .output-name-box {
    background-color: lightgrey;
    width: 30%;
}

.output .output-name-box h3 {
    padding-bottom: 20px;
}



.output .output-ticket-box {
    background-color: white;
    flex-grow: 1;
    border: 2px solid lightgrey;
    justify-content: space-around;
}

.output .output-ticket-box h4 {
    padding-bottom: 50px;
}